<ion-view title="Currently Playing">

    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <!-- Toggle left side menu -->
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" ng-click="editToggle()">Edit</button>
    </ion-nav-buttons>

        <div id="player"></div>


    <ion-content class="padding">
        <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder"     can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in items" class="item-thumbnail-left">

                <img ng-src="{{item.img}}">
                <h2>{{item.title}}</h2>
                <p>{{item.description}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)"></ion-reorder-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
