<ion-view title="Login">
    <div class="bar bar-header bar-dark">
        <h1 class="title">Login</h1>
    </div>
    <ion-content class="padding has-header">
        <!-- <h1>Login</h1> -->



        <div class="row">
            <div class="col text-center">
                <!-- <p>To access your playlists and like tracks,<p>

                <a href="#" id="sclogin" ng-click="scLogin()"><img src="http://connect.soundcloud.com/2/btn-connect-sc-l.png"></a> -->


                <div class="list list-inset" id="loginBlock">
                    <p>Or continue as Guest to just join in on the fun!</p>
                    <label class="item item-input">
                        <input type="text" placeholder="Guest Name">
                    </label>
                    <button class="button button-block button-positive" ng-click="guestLogin()">
                        Submit
                    </button>
                </div>
                <!-- <p>Hello your name is <span id="username"></span></p> -->
            </div>
        </div>

    </ion-content>
</ion-view>
