
<ion-view title="">

    <ion-nav-bar class="bar-dark">
        <ion-nav-title>{{homeTitle}}</ion-nav-title>

        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-clear icon ion-plus-circled" ng-click="titleToggler = !titleToggler"></button>
        </ion-nav-buttons>

    </ion-nav-bar>



    <!-- <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<button class="button button-icon ion-search"></button>
<button class="button button-icon ion-ios-email"></button>
<button class="button button-icon ion-ios-person"></button>
</ion-nav-buttons>
<h1 class="title"> Main Nav bar</h1>
</ion-nav-bar> -->
<!-- <ion-header-bar class="bar-balanced bar-subheader">
<label class="item-input-wrapper">
<i class="icon ion-ios-search placeholder-icon"></i>
<input type="search" placeholder="Search">
</label>
<button class="button button-clear">
Cancel
</button>
</ion-header-bar> -->

<!-- <div class="bar bar-header item-input-inset">
<label class="item-input-wrapper">
<i class="icon ion-ios-search placeholder-icon"></i>
<input type="search" placeholder="Search">
</label>
<button class="button button-clear">
Cancel
</button>
</div> -->

<ion-content class="ss-home-content">

    <div class="item item-thumbnail-left" href="#">
        <img src={{currentSong.preview}}>
        <h2 style="white-space: normal;">{{currentSong.title}}</h2>
        <p>{{currentSong.author}}</p>
        <!-- <p>{{currentSong.description}}</p> -->
    </div>

    <div class="row ss-player" href="#">
        <progress id="progressbar" max="{{MathFloor(totalTime)}}" value="{{ MathFloor(progressval) }}"> </progress>
        <span>{{ MathFloor(progressval/60) }}:{{progressval%60<10?'0'+progressval%60:progressval%60}} / {{MathFloor(totalTime/60)}}:{{totalTime%60<10?'0'+totalTime%60:totalTime%60}}</span>
    </div>
    <div class="row">

    </div>


    <div class="row ss-info" >
        <div class="col">Favorites  <span class="badge badge-positive">{{currentSong.totalFavorited}}</span></div>
        <div class="col">Skips <span class="badge badge-assertive">{{votesSkipped}}/{{usersTotal}}</span></div>
    </div>

    <div class="row ss-upcoming-title">
        <h5>Upcoming</h5>
    </div>

    <div class="ss-upcoming-list list">
        <div class="item">Daft Punk - Harder, Better, Faster, Stronger</div>
        <div class="item">Lorem Ipsong</div>
        <div class="item">Lorem Ipsong</div>
        <div class="item">Lorem Ipsong</div>
        <div class="item">Lorem Ipsong</div>
        <div class="item">Lorem Ipsong</div>
        <div class="item">Lorem Ipsong</div>
    </div>







</ion-content>

<div class="tabs tabs-icon-top tabs-dark">
<a class="tab-item" ng-click="mute()">
    <div ng-show="soundToggle">
        <i class="icon ion-volume-mute"></i>
        Mute
    </div>
    <div ng-show="!soundToggle">
            <i class="icon ion-volume-medium"></i>
        Unmute
    </div>
</a>
<a class="tab-item" ng-click="play()">
    <div ng-hide="isPlaying">
        <i class="icon ion-play"></i>
        Play
    </div>
    <div ng-show="isPlaying">
        <i class="icon ion-pause"></i>
        Pause
    </div>
</a>
<a class="tab-item" ng-click="addFavorite()">
    <div ng-hide="currentSong.favorited">
        <i class="icon ion-ios-star-outline"></i>
        Add to Favorite
    </div>
    <div ng-show="currentSong.favorited">
        <i class="icon ion-ios-star"></i>
        Remove from Favorite
    </div>
</a>

<a class="tab-item" ng-click="voteSkip()">
    <i class="icon ion-ios-skipforward-outline"></i>
    Vote to Skip
</a>
</div>

</ion-view>
