
<ion-view title="">


    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-title>{{vm.title}}</ion-nav-title>

    <ion-nav-buttons side="right">
        <button id="searchbutton" style="margin-right: 16px;" class="button button-clear icon ion-search" ng-click="vm.showFilterBar()"></button>
        <button id="peoplebutton" menu-toggle="right" class="button button-clear icon ion-ios-people"></button>
    </ion-nav-buttons>



    <!-- <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon"></button>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<button class="button button-icon ion-search"></button>
<button class="button button-icon ion-ios-email"></button>
<button class="button button-icon ion-ios-person"></button>
</ion-nav-buttons>
<h1 class="title"> Main Nav bar</h1>
</ion-nav-bar> -->
<ion-header-bar class="default-primary-color bar-subheader">
    <h4 class="title text-primary-color">Room ID: <span>{{vm.roomName}}</span></h4>
</ion-header-bar>

<!-- <div class="bar bar-header item-input-inset">
<label class="item-input-wrapper">
<i class="icon ion-ios-search placeholder-icon"></i>
<input type="search" placeholder="Search">
</label>
<button class="button button-clear">
Cancel
</button>
</div> -->

<ion-content class="ss-home-content">
    <section id="ss-help-player-info">
        <div class="item item-thumbnail-left" href="#" id="playerInfo">
            <img src={{vm.currentSong.preview}}>
            <h2 style="white-space: normal;" ng-show="vm.currentSong.title">{{vm.currentSong.title}}</h2>
            <h2 style="white-space: normal;" ng-hide="vm.currentSong.title">Nothing is playing...</h2>
            <p ng-show="vm.currentSong.author">{{vm.currentSong.author}}</p>
            <p ng-hide="vm.currentSong.author"></p>
            <!-- <p>{{currentSong.description}}</p> -->
        </div>
        <div id="ss-progress-bar"></div>
        <!-- <div class="row ss-player" href="#">
        <progress id="progressbar" max="{{MathFloor(totalTime)}}" value="{{ MathFloor(progressval) }}"> </progress>

    </div> -->
</section>


<section id="ss-help-player-stats" class="row ss-info" >
    <div class="col col-33" style="padding-top:0">
        <span class="ss-player-time" ng-show="vm.currentSong.time"=>{{ vm.currentSong.time | date: 'mm:ss': 'UTC' }} / {{ vm.currentSong.duration | date: 'mm:ss': 'UTC' }}</span>
        <span class="ss-player-time" ng-hide="vm.currentSong.time">00:00 / 00:00</span>
    </div>
    <div class="col"><i class="icon ion-star">
        <span ng-show="vm.currentSong.totalFavorited">{{vm.currentSong.totalFavorited}}</span>
        <span ng-hide="vm.currentSong.totalFavorited">0</span>
    </i></div>
    <div class="col"><i class="ion-ios-skipforward-outline"><span>{{vm.votesSkipped}}/{{vm.usersTotal}}</span></i></div>
    <div class="col"><i class="ion-ios-people"><span>1</span></i></div>
</section>

<section id="ss-help-playlist">
    <div class="row ss-upcoming-title">
        <h5>Upcoming</h5>
    </div>

    <div class="ss-upcoming-list list padding-bottom">
        <div class="ss-upcoming-empty " ng-show="vm.playlist.length < 1">
            <p>The playlist is empty.</p>
            <p>Use the search icon (<i class="icon ion-search"></i>) to add a song.</p>
        </div>
        <div class="item" ng-repeat="track in vm.playlist">{{$index+1}}) <span class="ss-time">{{track.duration | date: 'mm:ss': 'UTC'}}</span> {{track.title}}</div>
    </div>
</section>





</ion-content>

<div id="ss-help-control" class="tabs tabs-icon-top tabs-dark">
    <a ng-show="vm.isHost" class="tab-item" ng-click="vm.toggleSound()">
        <div ng-show="vm.soundToggle">
            <i class="icon ion-volume-mute"></i>
            Mute
        </div>
        <div ng-show="!vm.soundToggle">
            <i class="icon ion-volume-medium"></i>
            Unmute
        </div>
    </a>
    <a ng-show="vm.isHost" class="tab-item" ng-click="vm.play()">
        <div id="playbutton" ng-hide="vm.isPlaying">
            <i class="icon ion-play"></i>
            Play
        </div>
        <div ng-show="vm.isPlaying">
            <i class="icon ion-pause"></i>
            Pause
        </div>
    </a>
    <a class="tab-item" ng-click="vm.addFavorite()">
        <div ng-hide="vm.currentSong.favorited">
            <i class="icon ion-ios-star-outline"></i>
            Add to Favorite
        </div>
        <div ng-show="vm.currentSong.favorited">
            <i class="icon ion-ios-star"></i>
            Remove from Favorite
        </div>
    </a>

    <a class="tab-item" ng-click="vm.voteSkip()">
        <i class="icon ion-ios-skipforward"></i>
        Vote to Skip
    </a>
</div>

</ion-view>
