<ion-view title="Channel">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-android-arrow-back" href="/#/login"></a>
        </ion-nav-buttons>

        <ion-nav-title>Channel</ion-nav-title>
    </ion-nav-bar>
    <ion-content class="padding has-header">
        <!-- <h1>Channel</h1> -->
        <form >
            <div class="row row-center">
                <div class="col">
                    <p>What would you like to do?</p>
                    <button id="hostButton" class="button button-block button-balanced" ng-click="hostButton()">
                        Host Channel
                    </button>

                    <button id="joinButton" class="button button-block button-positive" ng-click="joinButton()">
                        Join Channel
                    </button>
                    <div class="padding-top">

                    </div>

                    <button class="button button-block button-calm" ng-click="help()">
                        <i class="icon ion-help"></i>
                        Help Me
                    </button>
                </div>
            </div>

        </form>
    </ion-content>

    <!--<div class="tabs tabs-icon-top tabs-dark">-->


    <!--</div>-->
</ion-view>

<walkthrough
is-round=false
walkthrough-type="transparency"
focus-element-id="hostButton"
icon=""
 force-caption-location="BOTTOM"
main-caption="Host Channel allows you to create a room where you can enjoy music with others."
is-active="help1"
use-button=true
on-walkthrough-hide="help2=true;">
</walkthrough>

<walkthrough
is-round=false
walkthrough-type="transparency"
focus-element-id="joinButton"
icon=""
 force-caption-location="BOTTOM"
main-caption="(Warning: Features are still in experimental) Join Channel allows you to join a existing room someone else created."
is-active="help2"
use-button=true>
</walkthrough>
