<ion-modal-view class="ss-modal">
    <!-- <ion-header-bar>
    <h1 class="title">My Modal title</h1>
</ion-header-bar> -->

<ion-nav-bar class="bar-dark"></ion-nav-bar>
<ion-content class="has-header">
    <ion-list class="ss-search-list">
        <ion-item class="item item-button-right" ng-repeat="res in scResults">
            <!-- <img ng-src={{res.artwork_url}}> -->
            {{res.title}}
            <p>
                <i class="icon ion-android-time"></i> {{res.duration | date: 'mm:ss': 'UTC'}}
                <i class="icon ion-heart padding-left"></i> {{res.likes_count}}
                <i class="icon ion-person padding-left"></i> {{res.user.permalink}}
            </p>
            <button class="button button-balanced" ng-click="addSong(res)">
                <i class="icon ion-plus"></i>
            </button>
        </ion-item>
    </ion-list>
</ion-content>
</ion-modal-view>
