<ion-view title="SoundStorm">
    <div class="ss-background-image"></div>
    <!-- <div class="bar bar-header bar-dark">
    <h1 class="title">SoundStorm</h1>
</div> -->
<ion-content class="ss-content">
    <div class="ss-splash-title text-center">
        <h1>SoundStorm</h1>
        <p>Changing the way you share music.</p>
    </div>





    <form role="form" class="padding" style="max-width: 400px; margin-left: auto; margin-right: auto;">

        <div class="col text-center">
            <a class="button button-calm block" ui-sref="learn" ng-click=vm.learn()>
                Learn More
            </a>
        </div>
        <p class="subtitle fancy"><span>OR</span></p>
        <div class="col text-center">
            <a class="button button-positive block" ui-sref="login" ng-click="vm.login()">
                Sign In
            </a>
        </div>

        <!-- <div class="ss-splash-or text-center">
        <div><span class="line-center"> OR </span></div>
    </div> -->


    <!--<div class="col text-center">-->
        <!--<a id="startbutton" class="button button-positive block" ui-sref="register">-->
            <!--Register-->
        <!--</a>-->
    <!--</div>-->
</form>

</ion-content>
</ion-view>
