/* Empty. Add your own CSS if you like */
@media (min-width:700px) and (orientation: landscape){
	#loginBlock {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
	#hostCodeBlock {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
	#joinCodeBlock {
		width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}

.ss-img-responsive {
	max-width: 100%;
	height: auto;
}
